<section class="spot-form-wrap">

<%= form_for(@spot, url: choose_new_or_edit) do |f| %>
  <% if @spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= @spot.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @spot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="spot-form">
    <div class="spot-form-list spot-form-list-name">
      <div class="form-list-title"><%= f.label :name, "スポット名" %></div>
      <div class="form-list-data"><%= f.text_field :name %></div>
    </div>
    <div class="spot-form-list spot-form-list-postal_code">
      <div class="form-list-title"><%= f.label :postal_code, "郵便番号" %></div>
      <div class="form-list-data"><%= f.text_field :postal_code %></div>
    </div>
    <div class="spot-form-list spot-form-list-region">
      <div class="form-list-title"><%= f.label :region, "都道府県" %></div>
      <div class="form-list-data"><%= f.select :region, region_list, :selected=>"東京都" %></div>
    </div>
    <div class="spot-form-list spot-form-list-address">
      <div class="form-list-title"><%= f.label :address, "所在地" %></div>
      <div class="form-list-data"><%= f.text_field :address %></div>
    </div>
    <div class="list-time-wrap">
      <div class="spot-form-list spot-form-list-start_time">
        <div class="form-list-title"><%= f.label :start_time, "営業開始時間" %></div>
        <div class="form-list-data"><%= f.time_field :start_time, class:"list-data-time_select" %></div>
      </div>
      <span class="time-from-mark">~</span>
      <div class="spot-form-list spot-form-list-close_time">
        <div class="form-list-title"><%= f.label :close_time, "営業終了時間" %></div>
        <div class="form-list-data"><%= f.time_field :close_time, class:"list-data-time_select" %></div>
      </div>
    </div>
    <div class="list-select-wrap">
      <div class="spot-form-list spot-form-list-nursing_room">
        <div class="form-list-title"><%= f.label :nursing_room, "授乳室" %></div>
        <div class="form-list-data"><%= f.select :nursing_room, [["わからない", "unknown"],["ある", "true"],["ない", "false"]],class:"list-data-select" %></div>
      </div>
      <div class="spot-form-list spot-form-list-diaper_stand">
        <div class="form-list-title"><%= f.label :diaper_stand, "おむつ台" %></div>
        <div class="form-list-data"><%= f.select :diaper_stand, [["わからない", "unknown"],["ある", "true"],["ない", "false"]],class:"list-data-select" %></div>
      </div>
      <div class="spot-form-list spot-form-list-sink">
        <div class="form-list-title"><%= f.label :sink, "シンク・洗面台" %></div>
        <div class="form-list-data"><%= f.select :sink, [["わからない", "unknown"],["ある", "true"],["ない", "false"]],class:"list-data-select" %></div>
      </div>
      <div class="spot-form-list spot-form-list-hot_water">
        <div class="form-list-title"><%= f.label :hot_water, "お湯" %></div>
        <div class="form-list-data"><%= f.select :hot_water, [["わからない", "unknown"],["ある", "true"],["ない", "false"]],class:"list-data-select" %></div>
      </div>
      <div class="spot-form-list spot-form-list-female_only">
        <div class="form-list-title"><%= f.label :female_only, "女性限定" %></div>
        <div class="form-list-data"><%= f.select :female_only, [["わからない", "unknown"],["ある", "true"],["ない", "false"]],class:"list-data-select" %></div>
      </div>
      <div class="spot-form-list spot-form-list-rental_stroller">
        <div class="form-list-title"><%= f.label :rental_stroller, "ベビーカー貸出" %></div>
        <div class="form-list-data"><%= f.select :rental_stroller, [["わからない", "unknown"],["ある", "true"],["ない", "false"]],class:"list-data-select" %></div>
      </div>
      <div class="spot-form-list spot-form-list-baby_chair">
        <div class="form-list-title"><%= f.label :baby_chair, "ベビーチェア" %></div>
        <div class="form-list-data"><%= f.select :baby_chair, [["わからない", "unknown"],["ある", "true"],["ない", "false"]],class:"list-data-select" %></div>
      </div>
      <div class="spot-form-list spot-form-list-kids_space">
        <div class="form-list-title"><%= f.label :kids_space, "キッズスペース" %></div>
        <div class="form-list-data"><%= f.select :kids_space, [["わからない", "unknown"],["ある", "true"],["ない", "false"]],class:"list-data-select" %></div>
      </div>
      <div class="spot-form-list spot-form-list-microwave">
        <div class="form-list-title"><%= f.label :microwave, "電子レンジ" %></div>
        <div class="form-list-data"><%= f.select :microwave, [["わからない", "unknown"],["ある", "true"],["ない", "false"]],class:"list-data-select" %></div>
      </div>
      <div class="spot-form-list spot-form-list-baby_scales">
        <div class="form-list-title"><%= f.label :baby_scales, "身長体重計" %></div>
        <div class="form-list-data"><%= f.select :baby_scales, [["わからない", "unknown"],["ある", "true"],["ない", "false"]],class:"list-data-select" %></div>
      </div>
    </div>
    <div class="spot-form-list spot-form-list-memo">
      <div class="form-list-title"><%= f.label :memo, "コメント" %></div>
      <div class="form-list-data"><%= f.text_area :memo, size: "50x5" %></div>
    </div>
    <div class="spot-form-list spot-form-list-picture">
      <div class="form-list-title"><%= f.file_field :picture, class: "spot-picture" %></div>
      <div class="form-list-data"><%= f.hidden_field :picture_cache %></div>
    </div>
  </div>

  <%= f.submit "確認画面へ", class: "btn-strong-m" %>
<% end %>

</section>
