<%= form_for(@spot, url: choose_new_or_edit) do |f| %>
  <% if @spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= @spot.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @spot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <dl class="spot-form">
    <dt class="spot-form-title"><%= f.label :name, "スポット名" %></dt>
    <dd class="spot-form-data"><%= f.text_field :name %></dd>
    <dt class="spot-form-title"><%= f.label :postal_code, "郵便番号" %></dt>
    <dd class="spot-form-data"><%= f.text_field :postal_code %></dd>
    <dt class="spot-form-title"><%= f.label :region, "都道府県" %></dt>
    <dd class="spot-form-data"><%= f.text_field :region %></dd>
    <dt class="spot-form-title"><%= f.label :address, "住所" %></dt>
    <dd class="spot-form-data"><%= f.text_field :address %></dd>
    <dt class="spot-form-title"><%= f.label :start_time, "営業開始時間" %></dt>
    <dd class="spot-form-data"><%= f.text_field :start_time %></dd>
    <dt class="spot-form-title"><%= f.label :close_time, "営業終了時間" %></dt>
    <dd class="spot-form-data"><%= f.text_field :close_time %></dd>
    <dt class="spot-form-title"><%= f.label :hot_water, "お湯" %></dt>
    <dd class="spot-form-data"><%= f.text_field :hot_water %></dd>
    <dt class="spot-form-title"><%= f.label :female_only, "女性限定" %></dt>
    <dd class="spot-form-data"><%= f.text_field :female_only %></dd>
    <dt class="spot-form-title"><%= f.label :female_only_room, "個室のみ女性限定" %></dt>
    <dd class="spot-form-data"><%= f.text_field :female_only_room %></dd>
    <dt class="spot-form-title"><%= f.label :rental_stroller, "ベビーカー貸出" %></dt>
    <dd class="spot-form-data"><%= f.text_field :rental_stroller %></dd>
    <dt class="spot-form-title"><%= f.label :baby_chair, "ベビーチェア" %></dt>
    <dd class="spot-form-data"><%= f.text_field :baby_chair %></dd>
    <dt class="spot-form-title"><%= f.label :kids_space, "キッズスペース" %></dt>
    <dd class="spot-form-data"><%= f.text_field :kids_space %></dd>
    <dt class="spot-form-title"><%= f.label :microwave, "電子レンジ" %></dt>
    <dd class="spot-form-data"><%= f.text_field :microwave %></dd>
    <dt class="spot-form-title"><%= f.label :sink, "シンク・洗面台" %></dt>
    <dd class="spot-form-data"><%= f.text_field :sink %></dd>
    <dt class="spot-form-title"><%= f.label :diapers_trash_bin, "おむつ用ゴミ箱" %></dt>
    <dd class="spot-form-data"><%= f.text_field :diapers_trash_bin %></dd>
    <dt class="spot-form-title"><%= f.label :diaper_stand_count, "おむつ台の数" %></dt>
    <dd class="spot-form-data"><%= f.text_field :diaper_stand_count %></dd>
    <dt class="spot-form-title"><%= f.label :diaper_stand, "自販機（ドリンク）" %></dt>
    <dd class="spot-form-data"><%= f.text_field :diaper_stand %></dd>
    <dt class="spot-form-title"><%= f.label :baby_scales, "身長体重計" %></dt>
    <dd class="spot-form-data"><%= f.text_field :baby_scales %></dd>
    <dt class="spot-form-title"><%= f.label :memo, "このスポットについて" %></dt>
    <dd class="spot-form-data"><%= f.text_field :memo %></dd>
    <dt class="spot-form-title"><%= f.file_field :picture, class: "spot-picture" %></dt>
    <dd class="spot-form-data"><%= f.hidden_field :picture_cache %></dd>
  </dl>

  <%= f.submit "確認画面へ", class: "btn-strong-m" %>
<% end %>
