<%= form_for(@spot, url: choose_new_or_edit) do |f| %>
  <% if @spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= @spot.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @spot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name, "スポット名" %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :postal_code, "郵便番号" %>
  <%= f.text_field :postal_code %>
  <br>
  <%= f.label :region, "都道府県" %>
  <%= f.text_field :region %>
  <br>
  <%= f.label :address, "住所" %>
  <%= f.text_field :address %>
  <br>
  <%= f.label :start_time, "営業開始時間" %>
  <%= f.text_field :start_time %>
  <br>
  <%= f.label :close_time, "営業終了時間" %>
  <%= f.text_field :close_time %>
  <br>
  <%= f.label :hot_water, "お湯" %>
  <%= f.text_field :hot_water %>
  <br>
  <%= f.label :female_only, "女性限定" %>
  <%= f.text_field :female_only %>
  <br>
  <%= f.label :female_only_room, "個室のみ女性限定" %>
  <%= f.text_field :female_only_room %>
  <br>
  <%= f.label :rental_stroller, "ベビーカー貸出" %>
  <%= f.text_field :rental_stroller %>
  <br>
  <%= f.label :baby_chair, "ベビーチェア" %>
  <%= f.text_field :baby_chair %>
  <br>
  <%= f.label :kids_space, "キッズスペース" %>
  <%= f.text_field :kids_space %>
  <br>
  <%= f.label :microwave, "電子レンジ" %>
  <%= f.text_field :microwave %>
  <br>
  <%= f.label :sink, "シンク・洗面台" %>
  <%= f.text_field :sink %>
  <br>
  <%= f.label :diapers_trash_bin, "おむつ用ゴミ箱" %>
  <%= f.text_field :diapers_trash_bin %>
  <br>
  <%= f.label :diaper_stand_count, "おむつ台の数" %>
  <%= f.text_field :diaper_stand_count %>
  <br>
  <%= f.label :diaper_stand, "自販機（ドリンク）" %>
  <%= f.text_field :diaper_stand %>
  <br>
  <%= f.label :baby_scales, "身長体重計" %>
  <%= f.text_field :baby_scales %>
  <br>
  <%= f.label :content, "このスポットについて" %>
  <%= f.text_field :content %>
  <br>
  <%= f.file_field :picture %>
  <%= f.hidden_field :picture_cache %>
  <br>
  <%= f.submit %>
<% end %>
