<h1>スポット一覧</h1>

<section class="spots-search">

  <%= search_form_for @search do |f| %>
  <%= f.label :name_or_region_or_address_cont,"キーワード" %>
  <%= f.search_field :name_or_region_or_address_cont %>
  <%= f.submit 'SEARCH' %>
  <% end %>

</section>

<section class="spots-list-wrap">
<% @spots.each do |spot| %>

    <article class="spots-list">
      <p class="spot-name"><%= link_to spot_path(spot) do %><%= spot.name %><% end %></p>
      <p id="spot-address"><%= spot.postal_code %><%= spot.region %><%= spot.address %></p>
      <p id="spot-region"><%= spot.region %></p>
      <p id="spot-start_time"><%= spot.start_time %></p>
      <p id="spot-close_time"><%= spot.close_time %></p>
      <p id="spot-hot_water"><%= spot.hot_water %></p>
      <p id="spot-female_only"><%= spot.female_only %></p>
      <p id="spot-rental_stroller"><%= spot.rental_stroller %></p>
      <p id="spot-baby_chair"><%= spot.baby_chair %></p>
      <p id="spot-kids_space"><%= spot.kids_space %></p>
      <p id="spot-microwave"><%= spot.microwave %></p>
      <p id="spot-sink"><%= spot.sink %></p>
      <p id="spot-diapers_trash_bin"><%= spot.diapers_trash_bin %></p>
      <p id="spot-diaper_stand_count"><%= spot.diaper_stand_count %></p>
      <p id="spot-diaper_stand"><%= spot.diaper_stand %></p>
      <p id="spot-baby_scales"><%= spot.baby_scales %></p>
      <p id="spot-picture"><%= image_tag spot.picture %></p>
      <%= link_to "修正", edit_spot_path(spot.id) %>
      <%= link_to "削除", spot_path(spot.id), method: :delete, data: { confirm: '本当に削除していいですか？' }  %>
    </article>
<% end %>
</section>
