<h1>スポット一覧</h1>

<section class="spots-search">
  <%= search_form_for @search, url: spots_path do |f| %>
  <%= f.search_field :name_or_region_or_address_cont, class: 'search-input', placeholder: "キーワード: 東京都渋谷区など" %>
  <%= f.submit '検索', class: 'search-btn' %>
  <% end %>
</section>

<section class="spots-list-wrap">
<% @spots.each do |spot| %>

    <article class="spots-list">
      <section class="spot-info spot-info-name"><%= link_to spot_path(spot) do %><%= spot.name %><% end %></section>
      <section class="spot-info spot-info-address">
        <i class="material-icons">place</i><p class="info-address"><%= spot.region %><%= spot.address %></p>
      </section>
      <% if spot.start_time.present? && spot.close_time.present? %>
      <section class="spot-info spot-info-times">
        <i class="material-icons">alarm</i>
        <p class="info-times">
          <span class="spot-info spot-info-start_time"><%= spot.start_time.strftime("%H:%M") %></span>
          <span class="dash">-</span>
          <span class="spot-info spot-info-close_time"><%= spot.close_time.strftime("%H:%M") %></span>
        </p>
      </section>
      <% end %>
      <section class="spot-tags">
        <% if spot.nursing_room == "true" %>
          <p class="spot-info spot-info-tag spot-info-nursing_room">授乳室</p>
        <% end %>
        <% if spot.diaper_stand == "true" %>
          <p class="spot-info spot-info-tag spot-info-diaper_stand">おむつ台</p>
        <% end %>
        <% if spot.hot_water == "true" %>
          <p class="spot-info spot-info-tag spot-info-hot_water">お湯</p>
        <% end %>
        <% if spot.kids_space == "true" %>
          <p class="spot-info spot-info-tag spot-info-kids_space">キッズスペース</p>
        <% end %>
        <% if spot.microwave == "true" %>
          <p class="spot-info spot-info-tag spot-info-microwave">電子レンジ</p>
        <% end %>
        <% if spot.sink == "true" %>
          <p class="spot-info spot-info-tag spot-info-sink">洗面台</p>
        <% end %>
        <% if spot.female_only == "true" %>
          <p class="spot-info spot-info-tag spot-info-female_only">女性限定</p>
        <% end %>
        <% if spot.rental_stroller == "true" %>
          <p class="spot-info spot-info-tag spot-info-rental_stroller">ベビーカー貸出</p>
        <% end %>
        <% if spot.baby_chair == "true" %>
          <p class="spot-info spot-info-tag spot-info-baby_chair">ベビーチェア</p>
        <% end %>
        <% if spot.diapers_trash_bin == "true" %>
          <p class="spot-info spot-info-tag spot-info-diapers_trash_bin">おむつ用ゴミ箱</p>
        <% end %>
        <% if spot.baby_scales == "true" %>
          <p class="spot-info spot-info-tag spot-info-baby_scales">身長体重計</p>
        <% end %>
      </section>
      <% if spot.picture.nil? %>
        <p class="spot-info spot-info-picture"><%= image_tag spot.picture %></p>
      <% end %>
    </article>
<% end %>
</section>
