<div class="comments-show">
  <div class="spot-info">
    <p>ID:<%= @spot.id %></p>
    <p><%= @spot.name %></p>
    <p><%= @spot.memo %></p>
    <p><%= @spot.postal_code %></p>
    <p><%= @spot.region %></p>
    <p><%= @spot.address %></p>
    <p><%= @spot.start_time %></p>
    <p><%= @spot.close_time %></p>
    <p><%= @spot.hot_water %></p>
    <p><%= @spot.female_only %></p>
    <p><%= @spot.rental_stroller %></p>
    <p><%= @spot.baby_chair %></p>
    <p><%= @spot.kids_space %></p>
    <p><%= @spot.microwave %></p>
    <p><%= @spot.sink %></p>
    <p><%= @spot.diaper_stand %></p>
    <p><%= @spot.baby_scales %></p>
  </div>

  <p>コメント一覧</p>
  <div class="comments-area">
    <%= render partial: 'comments/index', locals: { comments: @comments, spot: @spot } %>
  </div>
  <% if user_signed_in? %>
  <%= render partial: 'comments/form', locals: { comment: @comment, spot: @spot } %>
  <% end %>
  <%= link_to '戻る', spots_path %>
  </div>
</div>
