<section class="spots-show">
  <section class="spots-show-in">
    <section class="spots-show-main">
      <section class="caption-column">
        <section id="map" style="width:100%; height:400px"></section>
        <% if @spot.picture != "unknown" %>
          <section>
            <%= image_tag @spot.picture %>
          </section>
        <% end %>
      </section>
      <section class="info-column">
        <section class="spot-info">
          <article class="spots-list">
            <p class="spot-info spot-info-name"><%= @spot.name %></p>
            <section class="spot-info spot-info-address">
              <i class="material-icons">place</i><p id="spot-address"class="info-address"><%= @spot.region %><%= @spot.address %></p>
            </section>
            <% if @spot.start_time.present? && @spot.close_time.present? %>
            <section class="spot-info spot-info-times">
              <i class="material-icons">alarm</i>
              <p class="info-times">
                <span class="spot-info spot-info-start_time"><%= @spot.start_time.strftime("%H:%M") %></span>
                <span class="dash">-</span>
                <span class="spot-info spot-info-close_time"><%= @spot.close_time.strftime("%H:%M") %></span>
              </p>
            </section>
            <% end %>
            <section class="spot-tags">
              <% if @spot.nursing_room == "true" %>
                <p class="spot-info spot-info-tag spot-info-nursing_room">授乳室</p>
              <% end %>
              <% if @spot.diaper_stand == "true" %>
                <p class="spot-info spot-info-tag spot-info-diaper_stand">おむつ台</p>
              <% end %>
              <% if @spot.hot_water == "true" %>
                <p class="spot-info spot-info-tag spot-info-hot_water">お湯</p>
              <% end %>
              <% if @spot.kids_space == "true" %>
                <p class="spot-info spot-info-tag spot-info-kids_space">キッズスペース</p>
              <% end %>
              <% if @spot.microwave == "true" %>
                <p class="spot-info spot-info-tag spot-info-microwave">電子レンジ</p>
              <% end %>
              <% if @spot.sink == "true" %>
                <p class="spot-info spot-info-tag spot-info-sink">洗面台</p>
              <% end %>
              <% if @spot.female_only == "true" %>
                <p class="spot-info spot-info-tag spot-info-female_only">女性限定</p>
              <% end %>
              <% if @spot.rental_stroller == "true" %>
                <p class="spot-info spot-info-tag spot-info-rental_stroller">ベビーカー貸出</p>
              <% end %>
              <% if @spot.baby_chair == "true" %>
                <p class="spot-info spot-info-tag spot-info-baby_chair">ベビーチェア</p>
              <% end %>
              <% if @spot.diapers_trash_bin == "true" %>
                <p class="spot-info spot-info-tag spot-info-diapers_trash_bin">おむつ用ゴミ箱</p>
              <% end %>
              <% if @spot.baby_scales == "true" %>
                <p class="spot-info spot-info-tag spot-info-baby_scales">身長体重計</p>
              <% end %>
            </section>
            <% if @spot.picture.nil? %>
            <section class="spot-picture">
              <p class="spot-info spot-info-picture"><%= image_tag @spot.picture %></p>
            </section>
            <% end %>
            <% if @spot.memo.present? %>
            <section class="spot-memo">
              <p class="spot-memo-title icon-text"><i class="material-icons">record_voice_over</i><em>投稿者のコメント</em></p>
              <p class="spot-memo-text"><%= @spot.memo %></p>
            </section>
            <% end %>
          </article>
        </section>
      </section>
    </section>
    <section class="spots-show-sub">
      <section class="spot-comment">
        <p class="comments-show-title icon-text"><i class="material-icons">comment</i><em>このスポットについてのコメント</em></p>
        <section class="comments-area">
          <%= render partial: 'comments/index', locals: { comments: @comments, spot: @spot } %>
        </section>
        <% if user_signed_in? %>
        <%= render partial: 'comments/form', locals: { comment: @comment, spot: @spot } %>
        <% end %>
      </section>
    </section>
  </section>
</section>

<script type="text/javascript">
  var getMap = (function() {

    function codeAddress(address) {

      // google.maps.Geocoder()コンストラクタのインスタンスを生成
      var geocoder = new google.maps.Geocoder();

      // 地図表示に関するオプション
      var mapOptions = {
        zoom: 18,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        // マウスホイールによるズーム操作を無効
        scrollwheel: false
      };

      // 地図を表示させるインスタンスを生成
      var map = new google.maps.Map(document.getElementById("map"), mapOptions);

      // geocoder.geocode()メソッドを実行
      geocoder.geocode( { 'address': address}, function(results, status) {

        // ジオコーディングが成功した場合
        if (status == google.maps.GeocoderStatus.OK) {

          // google.maps.Map()コンストラクタに定義されているsetCenter()メソッドで
          // 変換した緯度・経度情報を地図の中心に表示
          map.setCenter(results[0].geometry.location);

          // 地図上に目印となるマーカーを設定います。
          // google.maps.Marker()コンストラクタにマーカーを設置するMapオブジェクトと
          // 変換した緯度・経度情報を渡してインスタンスを生成
          // →マーカー詳細
          var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
          });

        // ジオコーディングが成功しなかった場合
        } else {
          console.log('Geocode was not successful for the following reason: ' + status);
        }

      });

    }
    return {
    getAddress: function() {
      var adr = document.getElementById("spot-address");
      // 住所情報を取得
      var address = adr.innerHTML;
      // 取得した住所を引数に指定してcodeAddress()関数を実行
      codeAddress(address);
    }
  };
})();

  getMap.getAddress();

</script>
