<%= form_for([spot,comment], remote: true) do |f| %>
  <%= f.hidden_field :spot_id %>
  <div class="field">
    <p class="comment-notice"><%= notice %></p>
    <%= f.text_field :content, placeholder: "コメント" %>
  </div>
  <div class="actions">
    <%= f.submit "口コミを投稿", class: "new-comment-submit btn-strong-s" %>
    <%= link_to spots_path, class: "new-comment-back icon-text" do %>
    <i class="material-icons">arrow_back</i><em>スポット一覧に戻る</em>
    <% end %>
  </div>
<% end %>
