<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Babypo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Google Maps APIを読み込む -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDt3uWD_7IsRKUChrmBaIXu9A6Gq4Wf-60"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <p class="flash"><%= notice %><%= alert %></p>
    <header>
      <section class="header-in">
        <p class="logo">
          <%= link_to root_path do %>
            <%= image_tag "logo.svg", class: 'logo-img' %>
          <% end %>
        </p>
        <nav class="head-nav">
          <ul class="nav-menu">
            <li class="nav-menu-list"><%= link_to "スポット一覧", spots_path %></li>
            <% if user_signed_in? %>
            <li class="nav-menu-list"><%= link_to 'マイページ', edit_user_registration_path %></li>
            <li class="nav-menu-list"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li class="nav-menu-list"><%= link_to 'ログイン', new_user_session_path  %></li>
            <li class="nav-menu-list"><%= link_to 'サインアップ', new_user_registration_path %></li>
            <% end %>
          </ul>
        </nav>
      </section>
    </header>
    <section class="main-column">
    <%= yield %>
    </section>
    <footer>
      Copyright &copy; 2017, osapoco All Rights Reserved.
    </footer>
  </body>
</html>
